{%- capture pubtext -%}
<li{%- if include.paper.type %} class="pub{{ include.paper.type -}}"{%- endif -%}>
    {%- include persons.liquid persons=include.paper.authors -%}
    {%- if include.paper.authors_are_editors -%}, editors, {% else -%}:&nbsp;{%- endif -%}
    {{- include.paper.title -}}.
    {%- if include.paper.editors %} In&nbsp;{%- include persons.liquid persons=include.paper.editors -%}, editors, {% endif %}
    {{ include.paper.citation -}}.
    {%- assign block = "" -%}
    {%- assign block_empty = true -%}
    {%- if include.paper.isbn -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: 'ISBN:&nbsp;<a href="https://isbnsearch.org/isbn/' | append: include.paper.isbn | append: '">' | append: include.paper.isbn | append: "</a>" -%}
    {%- endif -%}
    {%- if include.paper.issn -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: 'ISSN:&nbsp;<a href="https://portal.issn.org/api/search?search[]=MUST=allissnbis=' | append: include.paper.issn | append: '">' | append: include.paper.issn | append: '</a>' -%}
    {%- endif -%}
    {%- if include.paper.doi -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: 'doi:<a href="https://doi.org/' | append: include.paper.doi | append: '">' | append: include.paper.doi | append: '</a>' -%}
    {%- endif -%}
    {%- unless block_empty -%}
        {%- assign block = block | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace -%}
        <div class="pubrefs">{{- block -}}.</div>
    {%- endunless -%}
    {%- assign block = "" -%}
    {%- assign block_empty = true -%}
    {%- if include.paper.ccf -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '中国计算机学会' | append: include.paper.ccf | append: '类' -%}
    {%- endif -%}
    {%- if include.paper.cas -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '中国科学院分' | append: include.paper.cas | append: '区' -%}
    {%- endif -%}
    {%- if include.paper.caa -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '中国自动化学会' | append: include.paper.caa | append: '类' -%}
    {%- endif -%}
    {%- if include.paper.caai -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '中国人工智能学会' | append: include.paper.caai | append: '类' -%}
    {%- endif -%}
    {%- if include.paper.thcpl -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '清华大学计算机学科' | append: include.paper.thcpl | append: '群' -%}
    {%- endif -%}
    {%- if include.paper.fms -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: 'FMS-' | append: include.paper.fms | append: '类' -%}
    {%- endif -%}
    {%- if include.paper.cms -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: 'CMS-' | append: include.paper.cms | append: '类' -%}
    {%- endif -%}
    {%- if include.paper.if -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: 'IF<sub>2025</sub>:&nbsp;' | append: include.paper.if -%}
    {%- endif -%}
    {%- if include.paper.index -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
            {%- assign block = "Indexed in&nbsp;" -%}
        {%- else -%}
            {%- assign block = block | append: ", indexed in&nbsp;" -%}
        {%- endif -%}
        {%- capture bi -%}
            {%- include print_array.liquid array=include.paper.index -%}
        {%- endcapture -%}
        {%- assign block = block | append: bi -%}
    {%- endif -%}
    {%- unless block_empty -%}
        {%- assign block = block | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace -%}
        <div class="pubindex">{{- block -}}.</div>
    {%- endunless -%}
    {%- assign block = "" -%}
    {%- assign block_empty = true -%}
    {%- if include.paper.rg -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '[<a href="https://www.researchgate.net/publication/' | append: include.paper.rg | append: '">R<sup>G</sup></a>]' -%}
    {%- endif -%}
    {%- if include.paper.arxiv -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '[<a href="https://arxiv.org/abs/' | append: include.paper.arxiv | append: '">arXiv</a>]' -%}
    {%- endif -%}
    {%- if include.paper.url -%}
        {%- for theurl in include.paper.url -%}
            {%- if block_empty -%}
                {%- assign block_empty = false -%}
            {%- else -%}
                {%- assign block = block | append: ", " -%}
            {%- endif -%}
            {%- assign block = block | append: '[<a href="' | append: theurl | append: '">data</a>]' -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if include.paper.code -%}
        {%- for thecode in include.paper.code -%}
            {%- if block_empty -%}
                {%- assign block_empty = false -%}
            {%- else -%}
                {%- assign block = block | append: ", " -%}
            {%- endif -%}
            {%- assign block = block | append: '[<a href="' | append: thecode | append: '">data</a>]' -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if include.paper.data -%}
        {%- for thedata in include.paper.data -%}
            {%- if block_empty -%}
                {%- assign block_empty = false -%}
            {%- else -%}
                {%- assign block = block | append: ", " -%}
            {%- endif -%}
            {%- assign block = block | append: '[<a href="' | append: thedata | append: '">data</a>]' -%}
        {%- endfor -%}
    {%- endif -%}
    {%- if include.paper.supplement -%}
        {%- if block_empty -%}
            {%- assign block_empty = false -%}
        {%- else -%}
            {%- assign block = block | append: ", " -%}
        {%- endif -%}
        {%- assign block = block | append: '[<a href="' | append: include.paper.supplement | append: '">supplement</a>]' -%}
    {%- endif -%}
    {%- unless block_empty -%}
        {%- assign block = block | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace -%}
        <div class="publinks">{{- block -}}.</div>
    {%- endunless -%}
</li>
{%- endcapture -%}
{{- pubtext | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace | replace: " ,", "," | replace: " .", "." | replace: "..", "." | replace: "?.", "?" | replace: "!.", "!" | append: "öäü@" | remove: ".öäü@" | remove: "öäü@" | strip | replace: "?.", "?" | replace: "!.", "!" | replace: ".,", "," -}}
