{%- capture pubtext -%}
{%- include persons.liquid perons=include.paper.authors -%}{%- if include.paper.authors_are_editors -%}, editors, {% else -%}:&nbsp;{%- endif -%}{{- include.paper.title -}}.
{%- if include.paper.editors %} In&nbsp;{% for editor in include.paper.editors -%}{%- assign person=site.data.people[editor] -%}{%- include person.liquid person=person -%}, {% endfor -%}editors, {% endif %} {{ include.paper.citation -}}.
{%- if include.paper.isbn %} ISBN:&nbsp;<a href="https://isbnsearch.org/isbn/{{- include.paper.isbn -}}">{{- include.paper.isbn -}}</a>.{%- endif -%}
{%- if include.paper.issn %} ISSN:&nbsp;<a href="https://portal.issn.org/api/search?search[]=MUST=allissnbis={- include.paper.issn -}}">{{- include.paper.issn -}}</a>.{%- endif -%}
{%- if include.paper.doi %} doi:<a href="https://doi.org/{{- include.paper.doi -}}">{{- include.paper.doi -}}</a>.{%- endif -%}
{%- if include.paper.rg %} [<a href="https://www.researchgate.net/publication/{{- include.paper.rg -}}">R<sup>G</sup></a>]{%- endif -%}
{%- if include.paper.arxiv %} [<a href="https://arxiv.org/abs/{{- include.paper.arxiv -}}">arXiv</a>]{%- endif -%}
{%- if include.paper.url %} [<a href="{{- include.paper.url -}}">link</a>]{%- endif -%}
{%- endcapture -%}
{{- pubtext | remove: '<p>' | remove: '</p>' | strip | normalize_whitespace | replace: " ,", "," | replace: " .", "." | replace: "..", "." | replace: "?.", "?" | replace: "!.", "!" | append: "öäü@" | remove: ".öäü@" | remove: "öäü@" | strip | append: "." | replace: "?.", "?" | replace: "!.", "!" | replace: ".,", "," -}}
